/* 
}
.productCard{
border: 1px solid black;
}
.productCard img{
    width: 100px;
} */
#logo_header{
    width: 150px;
}
.img-fluid{
    width: 800px;
    height: 300px !important;
}

#Navy{
    background-color: #14213D !important;  
}
.headerLink{
    border-radius: 5px;
    background-color: #14213D !important;
    color:#FFFFFF !important;
}
.headerLink:hover{
    background-color: #FCA311 !important;
}
.form{
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 50px;
    margin-bottom: 50px;
    overflow: hidden;
}
.carouselTitle{
    background-color: #14213D;
    color: FFFFFF;
    width: 450px;
    height: 50px;
    padding: 0 !important;
    margin: 0 !important;
    border-radius: 10px;
    
    
}
.customerImgs{
    height: 100px !important;
}

.hexagonos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 100px;
}
.hexagono{
    background-color: #14213D;
    color: #FFFFFF;
    width: 35vw;
    height: 35vw;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 4%;
    padding-right: 4%;
}
.hexagono:hover{
    transform: scale(1.1);
}
.hexagono strong{
    display: block;
    width: 60%;
    text-align: center;
    border-radius: 5px;
    background-color: #FCA311;
    margin-bottom: 30px;
}
.inicio{
    padding: 20px;
    border-radius: 15px;
}
.inicio:hover{
    background-color: #14213D;
    color: #FFFFFF;
}
.container h2{
text-align: center;
}