/* 
}
.productCard{
border: 1px solid black;
}
.productCard img{
    width: 100px;
} */
#logo_header{
    width: 100px;
}
.img-fluid{
    width: 800px;
    height: 300px !important;
}

#Navy{
    background-color: #14213D !important;  
}
.headerLink{
    border-radius: 5px;
    border: 1px solid;
    border-color: #FCA311;
    background-color: #14213D !important;
    color:#FFFFFF !important;
}
.headerLink:hover{
    background-color: #FCA311 !important;
}

.form{
    width: 50vw;
    padding-left: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.carouselTitle{
    background-color: #14213D;
    color: FFFFFF;
    width: 450px;
    height: 50px;
    padding: 0 !important;
    margin: 0 !important;
    border-radius: 10px;
    
    
}
.customerImgs{
    height: 100px !important;
}